<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="adbit-site-verification" content="8844b9f937c9c2d0a196f3d1e3775f524593b6f4ba886b4bddd4d353cd65af36" />

  <style>

    body {
        width: 100%; margin: 0; font-size: 1em; background-color: #000;
    }
    .lang-button-placement {
        float:right; display:inline; margin: 5px;
    }
    .horizontal-bar {
        width: 100%; height: 5px; background-color: #B8BABB;
    }
    .ad-placement {
        float:left; display:inline; width: 49%;
    }
    .clear-both {
        clear: both;
    }
    p {
        color: #B8BABB; font-size: 1.5em; padding-left: 10px;
    }
    .no-big-text {
        font-size: 1em;
    }
    .emphasized-text {
        text-align:center; font-size: 3em;
    }
    a, a:visited {
        color: #7F8E91; text-decoration: underline;
    }
    a:hover, a:active {
        color: #81C8D5; text-decoration: underline;
    }
    .clickable:hover {
        cursor:pointer;
    }
    .hidden {
      display: none;
    }

  </style>

</head>

<body>

  <!-- +++++++++++++++ Haut de page +++++++++++++++ -->
  <!-- Boutons de changement de langue, lien principal, affichage décompte avant redirection. -->

  <div class="lang-button-placement">
    <img src="img/drapalfr.png" width="38" id="flag-fr" class="clickable">
    <img src="img/drapalen.png" width="38" id="flag-en" class="clickable">
  </div>

  <div class="clear-both">

    <p class="lang-fr">{{here_is_link_fr}}</p>
    <p class="lang-en hidden">{{here_is_link_en}}</p>
    <div class="emphasized-text">
      <a href="{{final_url}}">{{final_url}}</a>
    </div>
    <br/>

    <p>
      <span class="lang-fr">Vous pouvez cliquer dessus ou attendre </span>
      <span class="lang-en hidden">Click it or wait </span>
      <span id="text-countdown" class="clickable">
        50
      </span>
      <span class="lang-fr"> secondes pour une redirection automatique.</span>
      <span class="lang-en hidden"> seconds to be redirected.</span>
    </p>
    <br/>

  </div>

  <div class="horizontal-bar"></div>
  <div>
    <p class="lang-fr">
      Et voici de la publicité stupide. Ha ha ha !
      Je n'ai pas honte de contribuer au moisissement de votre cerveau !
    </p>
    <p class="lang-en hidden">
      And here are some crappy ads.
      Not ashamed for the rotting of your brain !
    </p>
    <br/>
  </div>

  <!-- +++++++++++++++ Images et liens de publicité +++++++++++++++ -->

  <!-- il ne faut pas ajouter de sauts de ligne ni d'espaces à l'intérieur des textes de pub, sinon leur crétin de serveur ne veut pas les valider. -->
  <div class="clear-both">
    <div class="ad-placement">
      <iframe data-aa='273455' src='https://ad.a-ads.com/273455?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
    </div>
    <div class="ad-placement">
      <center>
        <div>
          <iframe scrolling="no" src="//blockadz.com/ads/show/show.php?a=E1GPX7V6IJNOA&b=7WVAHMEV3AEJJ" style="overflow:hidden;width:468px;height:60px;" frameborder="0"></iframe>
        </div>
        <div style="text-align:center;">
          <a href="https://blockadz.com/?a=BuyAds&id=E1GPX7V6IJNOA" target="_blank">Advertise in this spot</a>
        </div>
      </center>
    </div>
  </div>

  <br/>

  <div class="clear-both">
    <div class="ad-placement">
      <center>
        <div>
          <iframe scrolling="no" src="//blockadz.com/ads/show/show.php?a=E1GPX7V6IJNOA&b=HYXVT2VFEZD35" style="overflow:hidden;width:300px;height:250px;" frameborder="0"></iframe>
        </div>
        <div style="text-align:center;">
          <a href="https://blockadz.com/?a=BuyAds&id=E1GPX7V6IJNOA" target="_blank">Advertise in this spot</a>
        </div>
      </center>
    </div>
    <div class="ad-placement">
      <iframe data-aa='143164' src='https://ad.a-ads.com/143164?size=300x250' scrolling='no' style='width:300px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
    </div>
  </div>

  <br/>

  <!-- C'est important d'avoir ces div de 'clear-both', sinon ça ne va pas bien à la ligne. -->
  <div class="clear-both">
    <div class="ad-placement">
      <iframe src="http://coinhits.com/ad/pbnr2.php?ref=563" marginwidth="0" marginheight="0" width="468" height="60" scrolling="no" border="0" frameborder="0"></iframe>
    </div>
    <div class="ad-placement">
      <iframe src="http://coinmedia.co/new_code_site23973.js" scrolling="no" frameborder="0" width="468px" height="90px"></iframe>
    </div>
  </div>

  <br/>

  <div class="clear-both">
    <div class="ad-placement">
      <div class="adbit-display-ad" data-adspace-id="754F5AE8F1"></div>
    </div>
  </div>

  <!-- +++++++++++++++ Bas de bage +++++++++++++++ -->
  <!-- Texte de crédits. Lien vers mon blog. -->

  <div class="clear-both">
    <br/>
    <p class="no-big-text">
      <span class="lang-fr">
        Urluth. Service ego-centré de brouzoufisation de liens sur un terre-net.
      </span>
      <span class="lang-en hidder">
        Urluth. Ego-centralized links ka-ching-ka-chinging service in ter-net.
      </span>
      <a href="http://cur.lv/yns">recher.wordpress.com, via coinUrl.</a>
    </p>
  </div>

  <!-- +++++++++++++++ Scripts faits maison +++++++++++++++ -->

  <script type="text/javascript" src="js/urluth_index.js"></script>

  <!-- +++++++++++++++ Scripts à importer pour les publicités +++++++++++++++ -->

  <script type="text/javascript" src="https://adbit.co/js/show_ads.js"></script>

</body>

</html>